---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个打工仔</li>
            <li>爱折腾</li>
            <li>爱研究</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">联系我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://t.me/ion000v" target="_blank"> Telegram</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
